body {
    padding-top: 60px;
    padding-bottom: 20px;
}
.mainframe {
    margin: 0 auto;
    max-width: 750px;
}
.mainframe-large {
    margin: 0 auto;
    max-width: 1110px;
    min-width: 500px;
}
.credform {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 5px;
}
.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
.acloud {
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 15px;
    border-width: 1px;
    border-left-width: 5px;
    border-left-color: gray;
    border-style: solid;
    border-color: #ddd;
    border-radius: 3px;
}
.cloudcard-logo {
    width: 100px;
}
.cloudcard-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.cloudcard-right {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 120px);
}
.cloud-add-icon {
    width: 200px;
}
.cloud-add-item {
    text-align: center;
}
.progress {
    position: relative;
    margin-bottom: 0;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    text-shadow: 1px 1px white;
}
.color-picker {
    text-shadow: 1px 1px #ddd;
}
.files-left-nav {
    margin-top: 0.5em;
    width: 100%;
}
.color-icon {
    width:0.8em;
    height:0.8em;
    display:inline-block;
}
.icon-left {
    position:absolute;
    top:50%;
    left:1em;
    z-index:-1;
    transform: translateY(-50%);
}
.cloud-color-icon {
    width:1em;
    height:1em;
    display:inline-block;
}
.btn-default.active,
.btn-default:hover,
.btn-default.active:hover,
.btn-default.focus,
.btn-default.active.focus {
    background-color: #fff;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.color-icon-text {
    margin-left: 1.5em;
}
.spinning {
    animation: spin 1s infinite linear;
}

.g-recaptcha {
    margin-bottom: 15px;
}
