body {
    padding-top: 60px;
    padding-bottom: 20px;
}
.mainframe {
    margin: 0 auto;
    max-width: 750px;
}
.credform {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 5px;
}
.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
.acloud {
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 15px;
    border-width: 1px;
    border-left-width: 5px;
    border-left-color: gray;
    border-style: solid;
    border-color: #ddd;
    border-radius: 3px;
}
.cloudcard-logo {
    width: 100px;
}
.cloudcard-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.cloudcard-right {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 120px);
}