[Dropbox]
Key: xxx
Secret: xxx
Redirect: http://localhost:8000/clouds/add/dropbox

[Google Drive]
Key: xxx
Secret: xxx
Scope: https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/userinfo.email
Redirect: http://localhost:8000/clouds/add/gdrive

[Onedrive]
Key: xxx
Secret: xxx
Redirect: http://localhost:8000/clouds/add/onedrive
Base: https://api.onedrive.com/v1.0/
Scope: wl.basic,wl.signin,wl.offline_access,files.readwrite.all
