{% extends 'barebone.html' %}
{% block title %}Clouds - {{ user.username }}{% endblock %}
{% block body %}
    {% load static %}
    {% include 'navbar-in.html' with active_clouds='true' %}
    <div class="container">
        <div class="mainframe">
            {% include 'popupmsg.html' %}
            <div class="page-header">
                <h2>
                    <span>My cloud accounts</span>
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#choose-cloud"><span class="glyphicon glyphicon-plus"></span> Link a cloud</button>
                </h2>
            </div>
            {% for c in accounts %}
                <div class="acloud" style="border-left-color: {{ c.color }}">
                    <div class="cloudcard-left">
                        <img class="cloudcard-logo" src="{% static 'img/' %}{{ c.cloud.icon }}" />
                    </div>
                    <div class="cloudcard-right">
                        {{ c.user_full_name }} &nbsp; {{ c.email }} &nbsp; {{ c.display_name }} &nbsp; {{ c.color }} &nbsp; {{ c.space.used }} / {{ c.space.total }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="choose-cloud" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Choose your cloud</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {% for c in clouds %}
                            <a href="{% url 'cloud-add' c.name %}" class="list-group-item cloud-add-item">
                                <img src="{% static 'img/' %}{{ c.icon }}" class="cloud-add-icon" />
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
{% endblock %}
