{% extends 'barebone.html' %}
{% block title %}Clouds - {{ user.username }}{% endblock %}
{% block body %}
    {% load static %}
    {% include 'navbar-in.html' with active_clouds='true' %}
    <div class="container">
        <div class="mainframe">
            {% include 'popupmsg.html' %}
            <div class="page-header">
                <h2>
                    <span>My cloud accounts</span>
                    <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Link a cloud</button>
                </h2>
            </div>
            {% for c in accounts %}
                <div class="acloud">
                    <div class="cloudcard-left">
                        <img class="cloudcard-logo" src="{% static 'img/' %}{{ c.cloud.icon }}" />
                    </div>
                    <div class="cloudcard-right">
                        {{ c.full_name }} &nbsp; {{ c.identifier }} &nbsp; {{ c.email }} &nbsp; {{ c.space.used }} / {{ c.space.total }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
{% endblock %}
