{% extends 'barebone.html' %}
{% block title %}My Box - {{ user.username }}{% endblock %}
{% block body %}
    {% load humanize %}
    {% include 'navbar-in.html' with active_home='true' %}
    <div class="mainframe-large">
        <div class="col-xs-12">
            {% include 'popupmsg.html' %}
            <ol class="breadcrumb" dir="ltr" id="dir_list_show">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-fw fa-home fa-lg folder-link-full" data-path="/"></i></a></li>
            </ol>
        </div>
        <div class="col-xs-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="upload-left-button">Upload
                </button>
                <ul class="dropdown-menu">
                    <li><a id="upload-to-all" tabindex="-1" href="#">Big files</a></li>
                    <li class="divider"></li>
                    {% for c in acc %}
                        <li><a class="upload-to-cloud" tabindex="-1" href="#" data-pk="{{ c.pk }}" data-classname="{{ c.cloud.class_name }}" data-path="{{ c.did }}">{{ c.display_name }}</a></li>
                    {% endfor %}
                </ul>
                <button class="btn btn-default" id="new-folder-button" data-toggle="modal" data-target="#new-folder-dialog"><i class="glyphicon glyphicon-folder-open"></i> New</button>
            </div>
            <div class="btn-group-vertical files-left-nav" data-toggle="buttons" id="files-left-nav">
                <label class="btn btn-sm btn-default active">
                    <i class="color-icon icon-left" style="background-color: yellow"></i>
                    <input type="checkbox" name="show-in-cloud" value="-1" checked>
                    <small>Big files</small>
                </label>
                {% for c in acc %}
                    <label class="btn btn-sm btn-default active">
                        <i class="color-icon icon-left" style="background-color: {{ c.color }}"></i>
                        <input type="checkbox" name="show-in-cloud" value="{{ c.pk }}" checked>
                        <small>{{ c.display_name }}</small>
                    </label>
                {% endfor %}
            </div>
            <div class="left-panel" id="files-op-panel" style="display: none">
                <small>Selecting <span id="num-selecting-files">0 items</span></small>
                <hr class="small-hr">
                <div class="btn-group-vertical files-left-op">
                    <button type="button" class="btn btn-default btn-sm" id="share-button" data-toggle="modal"
                            data-target="#share-dialog">Share
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="rename-button" data-toggle="modal"
                            data-target="#rename-dialog">Rename
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" id="delete-button"><span
                            class="glyphicon glyphicon-refresh spinning hidden"></span> Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="table-responsive">
                <table id="listr-table" class="table table-hover">
                    <colgroup>
                        <col style="width:25px">
                        <col>
                        <col style="width:15%">
                        <col style="width:20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="checkbox-col"><div class="checkbox checkbox-primary"><input id="select-all" type="checkbox" title=""><label></label></div></th>
                        <th class="text-xs-left" data-sort="string" id="th-name">Name</th>
                        <th class="text-xs-left" data-sort="int">Size</th>
                        <th class="text-xs-left" data-sort="int">Modified</th>
                    </tr>
                    </thead>
                    <tbody id="file_list_show">
                    <tr id="file-list-loader">
                        <td colspan="4">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upload-dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4>Upload to <span id="upload-to"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="loader" id="upload-loader"></div>
                    <form id="upload-form">
                        <div class="row fileupload-buttonbar">
                            <div class="col-xs-7">
                                <span class="btn btn-success fileinput-button" id="upload-add">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add</span>
                                    <input type="file" id="file-input" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary" id="upload-start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button type="reset" class="btn btn-warning" id="upload-clear">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Clear</span>
                                </button>
                            </div>
                            <div class="col-xs-5 fileupload-progress" id="master-progress-container">
                                <div class="progress progress-striped active">
                                    <div id="master-progress" class="progress-bar progress-bar-info" style="width:0;"><span></span></div>
                                </div>
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped"><tbody id="file-list"></tbody></table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-folder-dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Create a new folder</h4>
                </div>
                <form id="new-folder-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="folder-name-input">Folder name</label>
                        <input type="text" class="form-control name-input" id="folder-name-input" minlength="1" maxlength="100" placeholder="" pattern='^[^\\\/?%*:|"<>]{1,100}$'>
                        <div class="hidden errmsg help-block">The name should not contain: \/?%*:|"&lt;&gt;.</div>
                    </div>
                    <div class="form-group btn-group" data-toggle="buttons">
                        {% for c in acc %}
                            <label class="btn btn-sm btn-default active">
                                <i class="color-icon icon-left" style="background-color: {{ c.color }}"></i>
                                <input type="checkbox" class="create-folder-pk" value="{{ c.pk }}" checked>
                                <small class="color-icon-text">{{ c.display_name }}</small>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="create-folder-button"><span class="glyphicon glyphicon-refresh spinning hidden"></span> Create</button>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rename-dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Rename <span id="rename-from"></span></h4>
                </div>
                <form id="rename-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="rename-input">New name</label>
                            <input type="text" class="form-control name-input" id="rename-input" minlength="1"
                                   maxlength="100" placeholder="" pattern='^[^\\\/?%*:|"<>]{1,100}$'>
                            <div class="hidden errmsg help-block">The name should not contain: \/?%*:|"&lt;&gt;.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="rename-form-button"><span
                                class="glyphicon glyphicon-refresh spinning hidden"></span> Rename
                        </button>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="share-dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Share <span class="editable-text editable editable-click" id="share-title"
                                                        data-type="text" data-pk="1" data-title="Enter display name"
                                                        data-unsavedclass="" title=""> </span></h4>
                </div>
                <form id="share-form">
                    <div class="modal-body" id="share-tab-1">
                        <div><strong>Who can see these files?</strong></div>
                        <div class="form-group btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-default">
                                <input type="radio" name="share-visibility" value="public">Anyone
                            </label>
                            <label class="btn btn-sm btn-default">
                                <input type="radio" name="share-visibility" value="protected">Only
                                chosen persons
                            </label>
                        </div>
                        <div class="form-group" id="recipients-group">
                            <label for="recipients">Recipients (Email or username, comma separated):</label>
                            <input class="ui-widget form-control" id="recipients">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default active">
                                    <input type="checkbox" id="share-email" checked>Send email to
                                    these people
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" id="share-tab-2">
                        <div id="share-result"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="share-form-button"><span
                                class="glyphicon glyphicon-refresh spinning hidden"></span><span
                                class="glyphicon glyphicon-ok hidden ok"></span> Share
                        </button>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>var path = "{{ path }}"; var acc = {{ num }}; var cloudclass = {{ cloudclass | safe }};</script>
    {% load static %}
    <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/listr.pack.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'css/awesome-bootstrap-checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'js/listr.pack.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    {% if tour %}
        <link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
        <script src="{% static 'js/tour.js' %}"></script>
    {% endif %}
{% endblock %}
