{% extends 'barebone.html' %}
{% block title %}My Box - {{ user.username }}{% endblock %}
{% block body %}
    {% load humanize %}
    {% include 'navbar-in.html' with active_home='true' %}
    <div class="mainframe-large">
        <div class="col-xs-12">
            {% include 'popupmsg.html' %}
            <ol class="breadcrumb" dir="ltr">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-fw fa-home fa-lg"></i></a></li>
                {% for item in dir_list %}
                    <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-xs-2">
            <div class="btn-group-vertical files-left-nav" data-toggle="buttons">
                <label class="btn btn-sm btn-default active">
                    <i class="color-icon icon-left" style="background-color: yellow"></i>
                    <input type="checkbox" name="cloud" value="-1" autocomplete="off" checked><small>Big files</small>
                </label>
                {% for c in acc %}
                    <label class="btn btn-sm btn-default active">
                        <i class="color-icon icon-left" style="background-color: {{ c.color }}"></i>
                        <input type="checkbox" name="options" value="{{ c.pk }}" autocomplete="off" checked><small>{{ c.display_name }}</small>
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-10">
            <div class="table-responsive">
                <table id="listr-table" class="table table-hover">
                    <colgroup>
                        <col style="width:65%">
                        <col style="width:15%">
                        <col style="width:20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-xs-left" data-sort="string">Name</th>
                        <th class="text-xs-left" data-sort="int">Size</th>
                        <th class="text-xs-left" data-sort="int">Modified</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="3">

                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                        {% for f in files %}
                            <tr>
                                <td class="text-xs-left" data-sort-value="{% if f.is_folder %}d{% else %}f{% endif %}{{ f.name|lower }}">
                                    <i class="fa fa-fw {% if f.is_folder %}fa-folder{% else %}fa-file-o{% endif %}"></i>
                                    &nbsp;<a href="{% if f.is_folder %}{% url 'list' path %}{{ f.name }}{% else %}{%  url 'get-download' %}?pk={{ f.acc.pk }}&id={{ f.id }}{% endif %}">{{ f.name }}</a>
                                    <span class="pull-right">
                                        {% for c in f.clouds %}
                                            <i class="color-icon" style="background-color: {{ c.color }}"></i>
                                        {% endfor %}
                                    </span>
                                </td>
                                {% if f.is_folder %}
                                    <td class="text-xs-left" data-sort-value="-1">-</td>
                                    <td class="text-xs-left" data-sort-value="-1">-</td>
                                {% else %}
                                    <td class="text-xs-left" data-sort-value="{{ f.size }}">{{ f.size|filesizeformat }}</td>
                                    <td class="text-xs-left" data-sort-value="{{ f.time|date:'U' }}">{{ f.time|naturaltime }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listr.pack.css' %}">
    <script src="{% static 'js/listr.pack.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}
